Repository syphon-org/syphon, pull requests merged in 2022-03, with the labels that each got.

#607 [feature] System Brightness Mode
  lib/store/settings/theme-settings/model.dart
  lib/store/settings/theme-settings/selectors.dart
Labels: feature, UI/UX, ready for review

#602 Add Shavian Transliteration
  assets/translations/en-Shaw.json
Labels: translation

#600 [chore] Add more translatable strings
  assets/translations/ar.json
  assets/translations/cs.json
  assets/translations/de.json
  assets/translations/en.json
  assets/translations/es.json
  assets/translations/fr.json
  assets/translations/hu.json
  assets/translations/id.json
  assets/translations/it.json
  assets/translations/pl.json
  assets/translations/pt.json
  assets/translations/pt_BR.json
  assets/translations/ru.json
  assets/translations/sk.json
  assets/translations/uk.json
  lib/global/strings.dart
  lib/views/home/home-screen.dart
  lib/views/home/search/search-users-screen.dart
  lib/views/home/settings/advanced-settings-screen.dart
  lib/views/home/settings/blocked-screen.dart
  lib/views/home/settings/password/password-update-step.dart
  lib/views/home/settings/settings-chats-screen.dart
  lib/views/home/settings/settings-intro-screen.dart
  lib/views/home/settings/settings-languages-screen.dart
  lib/views/home/settings/settings-privacy-screen.dart
  lib/views/home/settings/settings-screen.dart
Labels: UI/UX, refactoring, translation
